name: Cargo Test

on:
  push:
    branches:
      - devel
  pull_request:
    branches:
      - devel
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run Tests
      run: cargo test -- --nocapture
